.container {
  display: flex;
  flex-direction: column;
  margin: 7rem 7rem 2rem 7rem;
  gap: 3rem;
  padding: 1rem;
}
.boxInfo {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 40%;
  gap: 1.5rem;
}

.boxInfo h2 {
  font-size: 2.5rem;
}
.boxInfo h3 {
  margin-top: 3rem;
  align-self: center;
  font-size: 1.5rem;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(238, 66, 244), rgb(0, 200, 255));
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
}

.boxAvatar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

span {
  color: rgba(0, 0, 0, 0.4);
}
.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
