.modal {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  height: 100%;

  border: 2px solid black;
  border-radius: 8px;
}

.blogView {
  background-color: #fff;
  padding: 20px;

  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.blogView .content {
  margin-bottom: 1rem;
}

.ql-snow {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  flex: 1;
  height: auto;
  max-height: none;
  overflow: visible;
}

.twoColumns {
  gap: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.boxInputs {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.containerInputs {
  width: 100%;
}

.boxInputs input {
  height: 2rem;
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.textContainer {
  font-weight: bold;
  width: 100%;
  outline: none;
}

.customEditorArea {
  height: auto;
  max-height: none;
  overflow: visible;
}

.inputsArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.boxBtns {
  display: flex;
  justify-content: end;
}

.btnPublic {
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: gray;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.btnPublic:hover {
  background-color: black;
}
