footer {
  margin-top: 2rem;
  height: 80px;
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  flex-shrink: 0;
}
