* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(206, 206, 206);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
